{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}

{{!-- * Create a button in `index.handlebars` that will submit the user input into the database. --}}

<h1>It's a Burger Buffet!</h1>

<div class="content-container">

<h2>Burger Menu</h2>
<p>
  {{#each burgers}}
    {{#unless devoured}}
    {{burger_name}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</p>

<hr/>

<h2>Inventory</h2>
<p>
  {{#each burgers}}
    {{#if devoured}}
    {{burger_name}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</p>

<h3>Add to the Menu</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Select stock status:</label><br>
    <input type="radio" name="devoured" value="0"> In stock
    <input type="radio" name="devoured" value="1" checked> Time to restock<br>
  </div>

  <button type="submit">Add burger</button>
</form>
</div>
